[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = twopats
	email = lpatipat@icloud.com
[core]
	editor = 'lvim'
[alias]
	co = checkout
	cm = commit
	st = status
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
